<!DOCTYPE html> 
<html lang="en"> 

<head> 
	<meta charset="UTF-8"> 
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0"> 
	<title>Drum Pages Admin</title> 
	<link rel="stylesheet"  href="~/css/admin.css">
</head> 

<body> 
	
    <div class="header"><span class="header-text">DRUM PAGES<span class="headerPage"><br>Admin Panel</span></span></div>

	<div class="main-container row"> 
		<div class="navcontainer col-2"> 
			<nav class="nav"> 
				<div class="nav-upper-options"> 
					<div class="nav-option option1"> 
						<img src="~/images/posts.png"
							class="nav-img"
							alt="forum"> 
						<h3> Forum</h3> 
					</div> 

					<div class="option2 nav-option"> 
						<img src="~/images/posts.png"
							class="nav-img"
							alt="users"> 
						<h3> Users</h3> 
					</div> 

					<div class="nav-option option3"> 
						<img src="~/images/report.png"
							class="nav-img"
							alt="request"> 
						<h3> Requests</h3> 
					</div> 
					<div class="nav-option option5"> 
						<img src="~/images/profile.png"
							 class="nav-img"
							alt="lesson"> 
						<h3> Lessons</h3> 
					</div> 

					<div class="nav-option option6"> 
						<img src="~/images/settings.png"
							 class="nav-img"
							alt="settings"> 
						<h3> Settings</h3> 
					</div> 
					@* !!!!!WYLOGOWANIE SIE - TRZEBA POPRAWIÆ ZE WZGLÊDU NA WYGL¥D!!!!!  *@
					<form method="post" asp-controller="Home" asp-action="LogOut">
						<div class="nav-option logout" onclick="submitForm()">
							<img src="~/images/logout.png"
							class="nav-img"
							alt="logout"> 
						<h3>Logout</h3> 
					</div>
					</form>
					<script>
						function submitForm() {
							document.forms[0].submit();
						}
					</script>
				</div> 
			</nav> 
		</div> 
		<div class="col-2"></div>
		<div class="col-8"> 

			<div class="row"> 
				<div class="row"> 

					<div class="box col-5"> 
						<div class="text"> 
							<span class="topic-heading">60.5k</span> 
							<span class="topic">Post Views</span> 
						</div> 

						<img src="~/images/eye.png"
							alt="Views"> 
					</div> 

					<div class="col-2"></div>

					<div class="box col-5"> 
						<div class="text"> 
							<span class="topic-heading">150</span> 
							<span class="topic">Likes</span> 
						</div> 

						<img src="~/images/like.png"
							alt="likes"> 
					</div> 
				</div><div class="row boxRow"> 

					<div class="box col-5"> 
						<div class="text"> 
							<span class="topic-heading">@Post.GetAllPosts().Count()</span>
							<span class="topic">Comments</span> 
						</div> 

						<img src="~/images/chat.png"
							alt="comments"> 
					</div> 
					
					<div class="col-2"></div>

					<div class="box col-5"> 
						<div class="text"> 
							<span class="topic-heading">@Thread.GetAllThreads().Count()</span>
							<span class="topic">Threads Published</span> 
						</div> 

						<img src="~/images/Ok.png" alt="published">
					</div> 
					
					<div class="col-1"></div>
				</div>

			</div> 

			<div class="report-container row"> 
				<div class="col-12">
					<div class="report-header"> 
						<h1 class="recent-Posts">Recent Posts</h1> 
						<button class="view">View All</button> 
					</div> 

					<div class="report-body"> 
						<div class="report-topic-heading row"> 
							<h3 class="t-op col-3">Thread</h3> 
							<h3 class="t-op col-3">Comments</h3>
							<h3 class="t-op col-3">Author</h3> 
							<h3 class="t-op col-3">Publish date</h3> 
							<h3 class="t-op col-3">Action</h3>
						</div> 

						<div class="items"> 
							@* tu petla wyswietlacjaca te posty  *@
							@foreach (var i in Thread.GetAllThreads())
							{
								 <div class="item1 row">
									<h3 class="t-op-nextlvl col-3 col-3">@i.getTheme()</h3>
									<h3 class="t-op-nextlvl col-3">@Post.GetPostsByThreadId(i.getID()).Count()</h3>
									<h3 class="t-op-nextlvl col-3">@MainUser.GetUserById(i.getUserID()).user.getLogin()</h3>
									<h3 class="t-op-nextlvl col-3">@i.getDate()</h3>
									<form method="post" asp-controller="Admin" asp-action="DeleteThread" asp-route-id="@i.getID()">
										<button type="submit" class="t-op-nextlvl col-3 label-tag">Delete</button>
									</form>								
								</div> 
							}
						</div> 
					</div> 
				</div>
			</div> 
		</div> 
		<div class="col-2"></div>
	</div> 

	<script src="~/js/JavaAdmin.js"></script>
</body> 
</html>
