@{
    ViewData["Title"] = "Forum";
}

<br>
<h2>List of Users</h2>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
    </thead>
    <tbody>
        @{
          

            foreach (var item in MainUser.GetAllUsers())
            {
                <tr>
                    <td>@item.getLogin()</td>
                    <td>@item.getName()</td>
                </tr>

            }
        }
    </tbody>
</table>





<h2>List of threads</h2>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>temat</th>
            <th>data_utworzenia</th>
            <th>id_uzytkownika</th>
        </tr>
    </thead>
    <tbody>
        @{
            var model = new io_projekt.Models.Model();
            model.connectToDataBase();

            foreach (var item in model.Threads)
            {
                <tr>
                    <td>@item.getID()</td>
                    <td>@item.getTheme()</td>
                    <td>@item.getCreationDate()</td>
                    <td>@item.getUserID()</td>
                </tr>
            }
        }
    </tbody>
</table>
<h2>List of posts</h2>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>zawartosc</th>
            <th>data_utworzenia</th>
            <th>id_watku</th>
            <th>id_uzytkownika</th>
        </tr>
    </thead>
    <tbody>
         @{
            Thread thread = model.Threads[1];
            List<Post> posts = thread.getPosts();
            foreach (var item in posts)
            {
                <tr>
                    <td>@item.getID()</td>
                    <td>@item.getContent()</td>
                    <td>@item.getCreationDate()</td>
                    <td>@item.getThreadID()</td>
                    <td>@item.getUserID()</td>
                </tr>
            }
        }  
    </tbody>
</table>
